
.container {
  text-align: center;
}

footer { 
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

body.dark-theme {
  color: #eee;
  background: #121212;
}

button {
  margin: 5px;
}

#checkbox {
  margin: 5px;
}

ul {
  list-style-type:none;
}

body {
  margin: 5px;
  font-family: "Comic Sans MS", "Comic Sans", "Verdana";
}


